---
layout: layout.liquid
title: What's in a Name?
---

<div x-data="{names: ['Sheldon', 'Amy', 'Penny', 'Leonard', 'Howard', 'Bernadette', 'Raj', 'Stuart', 'Mary', 'George'], name: ''}">
    <button x-on:click="name = names[Math.floor(Math.random() * 10)]">Generate A Name!</button>
    <h1 x-text="name"></h1>
</div>
